{% extends "okr/base_logged.html" %}

{% block title %}Add Key Result{% endblock %}

{% block nav_tabs %}
	<li class="active">
		<a href="{% url 'okr:index' %}">Your OKRs</a>
	</li>
	<li>
		<a href="{% url 'okr:archived' %}">Archived</a>
	</li>
{% endblock %}

{% block content %}
	<article class="okr jumbotron">
		<h2>{{ objective.name }} </h2>
		<h4>Add new key result</h4>
		<form method="post" action="{% url 'okr:add_kr' objective.id %}" class="form-horizontal">
			{% csrf_token %}
			{% if form.non_field_errors %}
          	<div class="alert alert-danger">
            	{{ form.non_field_errors|striptags }}
          	</div>
      		{% endif %}
			{% for field in form.visible_fields %}
			{% if not field.errors %}
			<div class="form-group">
			{% else %}
			<div class="form-group has-error">
			{% endif %}
				<label for="{{ field.id_for_label }}" class="col-sm-2 control-label">
					{{ field.label }}:
				</label>
				<div class="col-sm-9">
					<div class="error-msg" style="display:block">
					{{ field.errors|striptags }}
					</div>
					{{ field }}
				</div>
			</div>
			{% endfor %}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-9">
				  	<input id="add" type="submit" class="btn btn-primary btn-sm" value="Add">
				  	<input id="cancel" type="button" class="btn btn-default btn-sm" value="Cancel">
				</div>
			</div>
		</form>
	</article>
{% endblock %}