{% extends "okr/base.html" %}

{% block nav %}
<nav class="nav nav-pills pull-right">
	<li{% block nav_visible %}{% endblock %}>
		<a href="{% url 'okr:index' %}">Your OKRs</a>
	</li>
	<li{% block nav_archived %}{% endblock %}>
		<a href="{% url 'okr:archived' %}">Archived</a>
	</li>
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			<span class="glyphicon glyphicon-cog"></span>
		</a>
		<ul class="dropdown-menu">
				<li>
					<a href="{% url 'okr:change_password' %}">Change password</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="{% url 'okr:logout' %}">Log out</a>
				</li>
		</ul>
	</li>
</nav>
{% endblock %}