{% extends "okr/base_logged.html" %}

{% block nav_visible %} class="active"{% endblock %}

{% block content %}
	<article class="okr jumbotron">
		{% block title_info %}{% endblock %}
		<form method="post" action="{% block form_action %}{% endblock %}" class="form-horizontal">
			{% csrf_token %}
			{% if form.non_field_errors %}
          	<div class="alert alert-danger">
            	{{ form.non_field_errors|striptags }}
          	</div>
      		{% endif %}
			{% for field in form.visible_fields %}
			{% if not field.errors %}
			<div class="form-group">
			{% else %}
			<div class="form-group has-error">
			{% endif %}
				<label for="{{ field.id_for_label }}" class="col-sm-2 control-label">
					{{ field.label }}:
				</label>
				<div class="col-sm-9">
					<div class="error-msg" style="display:block">
					{{ field.errors|striptags }}
					</div>
					{{ field }}
				</div>
			</div>
			{% endfor %}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-9">
					{% block submit_button %}{% endblock %}
				  	<input id="cancel" type="button" class="btn btn-default btn-sm" value="Cancel">
				</div>
			</div>
		</form>
		{% block delete_link %}{% endblock %}
	</article>
{% endblock %}