{% extends "okr/details_obj.html" %}

{% block title %}Edit Objective{% endblock %}

{% block nav %}
	<li class="active">
		<a href="{% url 'okr:index' %}">Your OKRs</a>
	</li>
	<li>
		<a href="{% url 'okr:archived' %}">Archived</a>
	</li>
{% endblock %}


{% block title_info %}
<h2>{{ objective.name }}</h2>
<h4>Edit objective</h4>
{% endblock %}

{% block form_action %}{% url 'okr:edit_obj' objective.id %}{% endblock %}

{% block submit_button %}
<input id="add" type="submit" class="btn btn-primary btn-sm" value="Edit">
{% endblock %}

{% block delete_link %}
<small class="pull-right"><a href="{% url 'okr:delete_obj' objective.id %}" class="delete">Delete</a></small>
{% endblock %}