{% extends "okr/list.html" %}

{% block title %}OKR Management System{% endblock %}

{% block nav %}
	<li class="active">
		<a href="{% url 'okr:index' %}">Your OKRs</a>
	</li>
	<li>
		<a href="{% url 'okr:archived' %}">Archived</a>
	</li>
{% endblock %}

{% block edit-button %}
	<button type="button" class="btn btn-primary btn-xs" id="kredit-{{ keyresult.id }}">
		<span class="glyphicon glyphicon-pencil"></span>
	</button>
{% endblock %}

{% block edit-menu %}
	<div class="edit" id="edit-{{ keyresult.id }}">
		<form method="post" class="form-horizontal">
			{% csrf_token %}
			{#{{ keyresult.form }}#}
			{% for field in keyresult.form.visible_fields %}
				<div class="form-group">
					<label for="{{ field.id_for_label }}" class="col-sm-2 control-label">
						{{ field.label }}:
					</label>
					<div class="col-sm-9">
	                	{{ field.errors }}
	                	{{ field.help_text}}
	                	{{ field }}
	                </div>
                </div>
            {% endfor %}
            <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-9">
			      <input id="krbtn-{{ keyresult.id }}" type="button" class="btn btn-primary btn-sm" value="Save	">
			    </div>
		  	</div>
		</form>
	</div>
{% endblock %}