{% extends "okr/list.html" %}

{% block title %}OKR Management System{% endblock %}

{% block nav %}
	<li class="active">
		<a href="{% url 'okr:index' %}">Your OKRs</a>
	</li>
	<li>
		<a href="{% url 'okr:archived' %}">Archived</a>
	</li>
{% endblock %}

{% block add_obj %}
	<small class="pull-left" id="add-obj">
		<a href="{% url 'okr:add_obj' %}">
			<span class="glyphicon glyphicon-plus"></span>
			Add Objective
		</a>
	</small>
{% endblock %}

{% block okr-name %}
	<a href="{% url 'okr:edit_obj' okr.objective.id %}">{{ okr.objective.name }}</a>
{% endblock %}

{% block edit-button %}
	<button type="button" class="btn btn-primary btn-xs" id="kredit-{{ keyresult.id }}">
		<span class="glyphicon glyphicon-pencil"></span>
	</button>
{% endblock %}

{% block edit-menu %}
	<div class="edit" id="edit-{{ keyresult.id }}">
		<form method="post" class="form-horizontal">
			{% csrf_token %}
			{% for field in keyresult.form.visible_fields %}
				<div class="form-group">
					<label for="{{ field.id_for_label }}" class="col-sm-2 control-label">
						{{ field.label }}:
					</label>
					<div class="col-sm-9">
						<div id="krerror-{{ keyresult.id }}-{{ field.id_for_label }}" class="error-msg">
						{# {{ field.errors }} #}
						</div>
						{# {{ field.help_text}} #}
						{{ field }}
					</div>
				</div>
			{% endfor %}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-9">
				  	<input id="krbtn-{{ keyresult.id }}" type="button" class="btn btn-primary btn-sm" value="Save">
				  	<input id="krcancel-{{ keyresult.id }}" type="button" class="btn btn-default btn-sm" value="Cancel">
				</div>
			</div>
		</form>
		<small class="pull-right"><a href="{% url 'okr:delete_kr' keyresult.id %}" class="delete">Delete</a></small>
		<div style='clear:both'></div>
	</div>
{% endblock %}

{% block add-kr %}
	<small class="pull-left">
		<a href="{% url 'okr:add_kr' okr.objective.id %}">
			<span class="glyphicon glyphicon-plus"></span>
			Add Key Result
		</a>
	</small>
{% endblock %}