{% extends "okr/base.html" %}

{% block content %}
	{% if okr_list %}
		{% for okr in okr_list %}
			<article class="okr jumbotron">
				<h2><a href="#">{{ okr.objective.name }}</a></h2>
				<div class="progress progress-striped">
					<div class="progress-bar progress-bar-danger" style="width: {{ okr.percentage }}%;">
						<span>{{ okr.percentage }}%</span>
					</div>
				</div>
				<ul>
					{% for keyresult in okr.keyresults %}
						<li id="kr-{{ keyresult.id }}">
							<h4 id="krname-{{ keyresult.id }}">{{ keyresult.name }}</h4>
							<div class="progress-container">
								<div class="progress progress-striped">
	    							<div class="progress-bar" id="krprogress-{{ keyresult.id }}" style="width: {{ keyresult.percentage }}%;">
	        							<span>{{ keyresult.percentage }}%</span>
	    							</div>
								</div>
								{% block edit-button %}
								{% endblock %}
							</div>
							<span class="small details" id="details-{{ keyresult.id }}">
								{{ keyresult.details }}
							</span>
							{% block edit-menu %}
							{% endblock %}
						</li>
					{% endfor %}
				</ul>
				<span class="end-date pull-right">End date: {{ okr.objective.end_date }}</span>
			</article>
		{% endfor %}
	{% else %}
		<p>No objectives are available.</p>
	{% endif %}
{% endblock %}