{% extends "okr/base_logged.html" %}

{% block content %}
	{% block add_obj %}
	{% endblock %}
	{% if okr_list %}
		{% for okr in okr_list %}
			<article class="okr jumbotron">
				<h2>{% block okr-name %}{% endblock %}</h2>
				<div class="progress progress-striped">
					<div class="progress-bar progress-bar-danger" id="objprogress-{{ okr.objective.id }}" style="width: {{ okr.percentage }}%;">
						<span>{{ okr.percentage }}%</span>
					</div>
				</div>
				<ul>
					{% for keyresult in okr.keyresults %}
						<li id="kr-{{ keyresult.id }}">
							<h4 id="krname-{{ keyresult.id }}">{{ keyresult.name }}</h4>
							<div class="progress-container">
								<div class="progress progress-striped">
	    							<div class="progress-bar" id="krprogress-{{ keyresult.id }}" style="width: {{ keyresult.percentage }}%;">
	        							<span>{{ keyresult.percentage }}%</span>
	    							</div>
								</div>
								{% block edit-button %}
								{% endblock %}
							</div>
							<span class="small details" id="details-{{ keyresult.id }}">
								{{ keyresult.details }}
							</span>
							{% block edit-menu %}
							{% endblock %}
						</li>
					{% endfor %}
				</ul>
				{% block add-kr %}
				{% endblock %}
				<small class="pull-right">End date: {{ okr.objective.end_date }}</small>
			</article>
		{% endfor %}
		{% block paginator %}{% endblock %}
	{% else %}
		<p>No objectives are available.</p>
	{% endif %}
{% endblock %}