body {
	padding-top: 20px;
	padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

.container-narrow > hr {
	margin: 30px 0;
}

.masthead h1 {
	font-size: 24.5px;
	font-weight: bold;
	line-height: 40px;
}

/* Progress bars with centered text */
.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }

.jumbotron {
	padding-top: 20px;
}

#new-obj {
	margin-bottom: 20px;
}

.login {
	padding: 5px 40px 10px 40px;
	margin-bottom: 30px;
	background-color: #eee;
	display: table;
    margin: 0 auto;
    width: 400px;
}

.okr,
.login {
	clear: both;
	border-radius: 7px; 
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.okr h2,
.login h2 {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.1;
	color: #428bca;
 }

 .okr > .progress {
 	margin-bottom: 40px;
 	margin-left: 40px;
 	width: 84.5%;
 }

 .okr li {
 	display: block;
 	margin-bottom: 30px;
 }

 .okr li h4 {
 	font-size: 16px;
 	margin-bottom: 15px;
 	padding-right: 40px;
 }

.okr .progress-bar span {
	color: #555;
	text-shadow: 1px 1px 5px #fff;
}

.okr .progress-container {
	margin: 0;
	padding: 0;
}

.okr .progress-container .progress {
	display: inline-block;
	width: 90%;
	margin: 0 5px 0 0;
}

.okr input {
	display: inline-block;
}

.okr .details {
	margin-left: 20px;
	color: #888;
	font-style: italic;
}

.okr .edit {
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 30px;
	display: none;
	padding: 20px 10px 10px 10px;
	background-color: #E4E5E6;
	border-radius: 7px; 
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

label {
	font-size: 0.9em;
	font-weight: normal;
}

#login-register-info {
	clear: both;
	margin-top: 30px;
	text-align: center;
	color: #888;
	text-shadow: 0 1px white;
	font-size: small;
}

#id_username,
#id_password,
#id_password1,
#id_password2,
#id_old_password,
#id_new_password1,
#id_new_password2 {
	width: 170px;
}

#id_email {
	width: 300px;
}

#id_type_data,
#id_obtained,
#id_expected,
#id_end_date {
	width: 100px;
}

.error-msg {	
	display: none;
	color: #a94442;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 12px;
}

.error-msg ul {
	padding-left: 20px;
	
}

.error-msg li {
	display: list-item;
	margin-bottom: 0;
}

#no-okr {
	clear: both;
	display: block;
}

footer {
	font-size: small;
}